/* FriendsList.css */

.friends-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .friends-list-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .friends-cards {
    display: flex; /* Change to flex to control flex item properties */
    flex-wrap: wrap; /* Allow items to wrap if they exceed container width */
    justify-content: center; /* Center items horizontally */
  }
  
  .friend-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 0 0 250px; /* Set initial width of flex items to 250px */
    margin: 10px; /* Add margin between flex items */
  }
  
  .friend-card img {
    width: 100%;
    height: auto; /* Ensure images maintain aspect ratio */
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
  }
  