/*FriendCard.css*/
.friend-card {
  position: relative;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
  z-index: 1; /* Ensure friend-cards appear below modal */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Set a higher z-index value for the modal */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

.friend-card h3 {
  margin: 0;
  font-size: 18px;
}

.friend-card p {
  margin: 5px 0;
  font-size: 14px;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.modal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

.modal h3 {
  margin: 0;
  font-size: 20px;
}

.modal p {
  margin: 5px 0;
  font-size: 16px;
}
