/*Pagination.css*/
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    background-color: #007bff;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .input{
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  span {
    margin: 0 5px;
    font-weight: bold;
  }
  
